@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Karla', sans-serif;
}

body, html {
  background-color: hsl(204, 43%, 93%);
  width: 100%;
  height: 100%;
}

.header {
  background-color: white;
  width: 550px;
  height: 190px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
 
main {
  box-shadow:  50px  rgba(0,0,0,0.35);
}

.container {
  margin-top: 90px;
  margin-left: 350px;
  
}

h3 {
  padding-bottom: 20px;
  color: hsl(179, 62%, 43%);
}

.one {
  padding-bottom: 10px;
  color:  hsl(71, 73%, 54%);
}

.minus {
  padding: 40px;
}
.two {
  color:  hsl(218, 22%, 67%);
  line-height: 20px;
}

.third {
display: flex;
/* justify-content: center; */
align-items: center;
padding-top: 10px;
}


.sect-one {
  background-color: hsl(179, 62%, 43%);
  height: 220px;
  width: 275px;
  float: left;
  color: white;
  padding: 30px;
  padding-top: 30px;
  border-bottom-left-radius: 5px;
}

.sect-two{
  background-color: hsl(179, 45%, 55%);
  height: 220px;
  width: 275px;
  float: left;
  padding: 20px;
  padding-left: 30px;
  color: white;
  border-bottom-right-radius: 5px;
}

#full {
  padding-top: 5px;
}

h1 {
  font-size: x-large;
  padding-right: 10px;
}

.per {
color: rgba(255, 255, 255, 0.685);
font-size: 14px;
}

button {
  margin-top: 20px;
  width: 200px;
  height: 35px;
  background-color:  hsl(71, 73%, 54%);
  border: none;
  border-radius: 5px;
}

.us {
  padding-bottom: 10px;
}

li {
  list-style-type: none;
  font-size: 14px;
  line-height: 20px;
}